{% extends "meals_base.html" %}

{% block title %} Meal Planner {% endblock %}

{% block content %}
<div class="mytext">

    <h1>Meal Details</h1>

    <h2>Breakfast on {{ breakfast.date|date:'l, M d, Y' }}: </h2>
    <ul>
    {% for b in breakfast.meal.all %}
        <li><h3>{{ b }} </h3></li>
    {% endfor %}
    </ul>

    <button onclick="window.location.href='{% url 'edit_breakfast' breakfast.id %}';">
      Edit Breakfast
    </button>

    <button onclick="window.location.href='{% url 'delete_breakfast' breakfast.id %}';">
      Delete Breakfast
    </button>

    <a href="{% url 'welcome' %}">
        Home
    </a>
</div>
{% endblock %}