{% extends "meals_base.html" %}

{% block title %} Meal Planner {% endblock %}

{% block content %}
<div class="mytext">

    <h1>Meal Details</h1>

    <h2>Lunch on {{ lunch.date|date:'l, M d, Y' }}: </h2>
    <ul>
    {% for l in lunch.meal.all %}
        <li><h3>{{ l }} </h3></li>
    {% endfor %}
    </ul>

    <button onclick="window.location.href='{% url 'edit_lunch' lunch.id %}';">
      Edit Lunch
    </button>

    <button onclick="window.location.href='{% url 'delete_lunch' lunch.id %}';">
      Delete Lunch
    </button>

    <a href="{% url 'welcome' %}">
        Home
    </a>

</div>

{% endblock %}