{% extends "base.html" %}

{% block title %} Meal Planner {% endblock %}

{% block content %}
<div class="mytext">
    <h1>Welcome To Your Own Meal Planner</h1>

    <h2>*Your meals*</h2>

    <h3>Breakfast</h3>
    <button onclick="window.location.href='{% url 'new_breakfast' %}';">
      Add Breakfast
    </button>
        <ul>
            {% for b in breakfast %}
            <li>
                <a href="{% url 'breakfast' b.id %}">
                 {{ b.date|date:'l, M d, Y' }}
                </a>
            </li>
            {% endfor %}
        </ul>

    <h3>Lunch</h3>
    <button onclick="window.location.href='{% url 'new_lunch' %}';">
      Add Lunch
    </button>
        <ul>
            {% for l in lunch %}
            <li>
                <a href="{% url 'lunch' l.id %}">
                {{ l.date|date:'l, M d, Y' }}
                </a>
            </li>
            {% endfor %}

        </ul>

    <h3>Dinner</h3>
    <button onclick="window.location.href='{% url 'new_dinner' %}';">
      Add Dinner
    </button>
        <ul>
            {% for d in dinner %}
            <li>
                <a href="{% url 'dinner' d.id %}">
                {{ d.date|date:'l, M d, Y' }}
                </a>
            </li>
            {% endfor %}
        </ul>

</div>
{% endblock %}